arrow==0.13.1
Babel==2.9.1
cairocffi==1.0.2
CairoSVG==2.3.0
certifi==2018.11.29
cffi==1.12.2
chardet==3.0.4
cssselect2==0.2.1
defusedxml==0.5.0
Django==2.1.7
django-bootstrap3==11.0.0
django-crispy-forms==1.7.2
django-phonenumber-field==2.2.0
django-tempus-dominus==5.1.2.4
django-weasyprint==0.5.4
django-widget-tweaks==1.4.3
html5lib==1.0.1
hurry.filesize==0.9
idna==2.8
imagekit==1.0.6
phonenumbers==8.10.8
Pillow==5.2.0
pycparser==2.19
Pyphen==0.9.5
python-dateutil==2.8.0
pytz==2018.9
redis==3.2.0
reportlab==3.2.0
requests==2.21.0
six==1.12.0
sorl-thumbnail==12.5.0
tinycss2==1.0.1
urllib3==1.24.1
WeasyPrint==45
webencodings==0.5.1
